Body{
    background-color: #d0e4cc ;
}


#BriefInfo{
    position: relative;
    background-color: #ebefe4;
    margin-top: 60px;
    margin-bottom: 15px;
    height: 100px;
}
#BriefInfo #sitterPic{
    background-color:white;
    position: absolute;
    width: 10%;
    height: 68%;
    margin: 10px;
    border-style:ridge;
}


 #BriefInfo p{
    position: absolute;
    margin-left: 200px;
    font-size:x-large;

}
#BriefInfo p .NameLabel{
    font-weight: bolder;
}

#BriefInfo p a{
    font-size: medium;
    text-decoration:none;
    color: brown;
}

#BriefInfo p a:hover{
    text-decoration: underline;
    color: #f01414;
}

#AvailabilityTable {
    position: relative;
    background-color: #ebefe4;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 200px;

}

#AvailabilityTable h2{
  position: absolute;
    margin: 15px;
}

#AvailabilityTable table{
 position: absolute;
 margin-left: 15px ;
 margin-top: 50px;
border-spacing: 8px;
}

#PriceInfo .PriceLabel{
    display: inline-block;
    font-weight: bolder;
    margin: 10px;
    font-size: 20px;
    
}

#PriceInfo label, #PriceInfo input{
    font-size: medium;
        
}







